<nav>
  <ul class="nav nav-pills nav-stacked ">
    <li class="nav-header">Profile</li>
    <li><a href="{{path('fos_user_profile_show')}}">Afficher / Modifier</a></li>
    <li><a href="{{path('fos_user_change_password')}}">Modifier le mot de passe</a></li>
   <li class="nav-header">Cv</li>
   <li><a href="{{path('candidat_etatcivile')}}">Etat civile</a></li>
    <li><a href="{{path('candidat_showformation')}}">Mise à jour formation</a></li>
   <li><a href="{{path('candidat_afficherexperience')}}">Mise à jourExperience</a></li>
   <li><a href="{{path('candidat_affichercompetence')}}">Mise à jour Compétences </a></li>
   <li><a href="{{path('candidat_addlangue')}}">Mise à jour langue</a></li>
   <li><a href="{{path('candidat_offrepostulees')}}">Offre Postulées</a></li>
      <li><a href="{{path('candidat_showcv')}}">Aperçu du CV / Télécharger (pdf)</a></li>
      <li><a href="#">Rechercher un emploi</a></li>
      <li><a href="#">Déconnexion</a></li>
  </ul>
</nav>