
    
{%extends  '::base.html.twig'%}

{% block body%}
    <br><br>

     <div class="content">
      <!-- Start: SERVICE LIST -->
        <div class="container">
          <div class="page-header">
                            <h2><small><font color="black"><font size=+2><u>Espace Admin     </u></font></font></small></h2>
          </div>
                
          <div class="span3">{% include('AdminBundle:Modules:menuadmin.html.twig')%}</div>
           <div class="row-fluid">
              
          <div class="span9" class="left">BINEVENU(E) {{app.user.username|upper}} DANS VOTRE ESPACE!
              <br> <br>
            
          
           
              <div class="btn btn-navbar"><a href="{{path('admin_addoffre')}}" >Ajouter une offre</a> </div>  <div class="btn btn-navbar"><a href="{{path('admin_showoffreexpire')}}" >Afficher les offres expirées</a> </div><div align="right"><form action="{{path('admin_showoffres')}}" method="POST">{{form_widget(form)}}<button type="submit" class="btn">Filtrer</button></form></div><br>
    <br>
                    
          {% for flashMessage in app.session.flashbag.get('active') %}
              <div class="form-row"><font color="green">offre activée</font></div>
{% endfor %}
                  {% for flashMessage in app.session.flashbag.get('desactive') %}
              <div class="form-row"><font color="green">offre désactivée</font></div>
{% endfor %}
                  {% for flashMessage in app.session.flashbag.get('nonactive') %}
              <div class="form-row"><font color="red">Erreur d'activation de l'offre! </font></div>
{% endfor %}<br> 
    <h1><small>Liste des offres Valides.</small><br>NB:  les <font color="red">offres en rouges</font> sont désactivées, elles ne s'affichent pas sur 
        le site.</h1>
         <table class="row-fluid" border="2">
             <tr class="row btn-primary"><td class="col-md-6">Entreprise </td><td class="col-md-6">Type de l'offre </td><td class="col-md-6"> Titre de l'offre</td><td class="col-md-6">Date d'ajout</td><td class="col-md-6">Date limite</td><td class="col-md-6" colspan="3">Actions</td></tr>
                  
{%for o in offres%}
                  <td colspan="9"><hr class="btn-primary"></td>
                  <tr class="row">
                      <td class="col-md-6" ><h1><small><a href="{{path('admin_showcompany',{'id':o.idEntreprise.idEntreprise})}}">{{o.idEntreprise}}</a></small></h1></td>
              <td class="col-md-6" >{%if o.activation%} {{o.idTypeOffre}}{%else%}<font color="red">{{o.idTypeOffre}}</font>{%endif%} 
              
              
          
                  <div><a href="{{path('admin_editoffre',{'idoffre':o.lidOffre})}}" class="btn-primary">Modifier</a></div>
                <div><a href="{{path('admin_activeoffre',{'idoffre':o.lidOffre})}}" class="btn-primary">{%if o.activation  %} Désactiver{%else%}Activer{%endif%} </a></div>
              
              
              </td>
                 
              <td class="col-md-6">{%for l in o.ligneOffre%} <ul><li><a href="{{ path('annonce_detailsoffre', {'id': l.idOffreLigneOffre}) }}" >{{l.titreOffre}}</a></li></ul>{%endfor%}</td> </td>
              <td class="col-md-6">{%for l in o.ligneOffre%} <ul><li>{{l.dateAjoutOffre|date("d / m / Y H:m")}}</li></ul>{%endfor%}</td> </td>
                  <td class="col-md-6">{%for l in o.ligneOffre%} <ul><li>{{l.dateLimiteOffre|date("d / m / Y H:m")}}</li></ul>{%endfor%}</td> </td>
                   
                  <td class="col-md-6">{%for l in o.ligneOffre%} <div><a href="{{path('entreprise_postulants',{'id':l.idOffreLigneOffre})}}" class="btn-primary">Voir les postulants</a></div>{%endfor%}</td> </td>
                  
                  </tr>
              {%endfor%}
              </table>
          
          
          
          </div>
           </div></div></div>
     

     {%endblock%} 
    
    
    
    
   